# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.yarn-integrity
.yarn/*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
*.pem
Thumbs.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Testing
/coverage

# Build
/build
/out

# Temporary files
*.log
*.tmp
